<section class="banner">
    <img src="../../../assets/css/images/fondo6.gif" width="100%" srcset="">
    <div class="welcome">
        <h3 class="bienvenida">Únete a la comunidad</h3>
            <h3 class="bienvenida">Gamers STK</h3>
            <p class="invitacion">!El mejor contenido para Gamers!</p>
    </div>
  </section>

  <div class="container">
    <div class="row fondoinicial">
        <div class="col-12 miClasePrueba">
            <section class="row justify-content-center botonera" >
                <app-login></app-login>
            </section>
        </div>
        
        <!-- <div class="col-12 miClasePrueba" id="botonesregistro">
            <section class="row justify-content-center botonera" id="seccionbotonera">
                <button (click)="irARegistro()" type="button" id="botonRegistrarse">Registrarse</button>
                <button (click)="iniciarSesion()" type="button">Iniciar sesión</button>
            </section>
        </div>
        <div class="col-12" id="logout">
            <section class="row justify-content-center botonera">
                <button (click)="irARegistro()" type="button">Logout</button>
            </section>
        </div> -->
    </div>
    <div class="row productos">
        <div class="col-6 col-md-4">
            <p>Podrás enterarte de las últimas noticias en los videojuegos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, blanditiis reiciendis! Dignissimos voluptatum nihil porro reiciendis accusamus? Quas accusantium maxime, nam sint aliquid doloribus officia neque iure dignissimos pariatur eius?</p>
            </div>
        <div class="col-6 col-md-4">
            <p>Comparte tus mejores experiencias y motiva a otros jugadores.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dicta, minus facilis animi quaerat nulla labore expedita nemo ut possimus beatae. Quidem doloribus asperiores earum eveniet deserunt consectetur pariatur labore.</p>
        </div>
        <div class="col-6 col-md-4">
            <p>!Enté    rate de las mejores ofertas y compártelo con la comunidad!.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quibusdam sint perspiciatis qui minus culpa nemo iste quod error mollitia ad, atque, non odit aperiam nesciunt eum nulla. Inventore, illo.</p>
        </div>
      </div>
      <div class="row imagenregistro">
        <div class="col-6 col-md-4">
            <img src="../../../assets/css/images/fortnite2.jpg" alt="Ultimas noticias" class="imagenbienvenida">                   
        </div>
        <div class="col-6 col-md-4">
            <img src="../../../assets/css/images/horizon.jpg" alt="Ultimas noticias" class="imagenbienvenida">
        </div>
        <div class="col-6 col-md-4">
            <img src="../../../assets/css/images/envios.jpg" alt="Ultimas noticias" class="imagenbienvenida">
        </div>
      </div>
      <div class="row patrocinadores">
          <div class="col-6 col-md-12 logos">
            <hr>
            <ul>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador1.PNG" alt="Patrocinador1"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador2.PNG" alt="Patrocinador2"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador3.PNG" alt="Patrocinador3"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador4.PNG" alt="Patrocinador4"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador5.PNG" alt="Patrocinador5"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador6.PNG" alt="Patrocinador6"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador7.PNG" alt="Patrocinador7"></li>
                <li><img src="../../../assets/css/images/patrocinadores/patrocinador8.PNG" alt="Patrocinador8"></li>
            </ul>
            <hr>
          </div>
          
      </div>
</div>