<div class="bienvenida" *ngIf="_authS.usuario.uid" id="bienvenida">
  <p>Bienvenido {{_authS.usuario.nombre}}</p>
  <img src="{{_authS.usuario.photoURL}}" alt="" height="35px" class="rounded-circle" *ngIf="_authS.usuario.uid" />
</div>
<div class="login">
  <h5 *ngIf="!_authS.usuario.uid">Login</h5>
  <button style="align-content: center;" class="btn btn-danger mb-2" (click)="ingresar()" *ngIf="!_authS.usuario.uid">Login Google</button>
</div>

<div class="logout" *ngIf="_authS.usuario.uid">
  <h5 >Cerrar Sesión</h5>
  <button style="align-content: center;" class="btn btn-primary mb-2" (click)="salir()" >Logout</button>
</div>

<!-- <hr>
<div class="row justify-content-center" *ngIf="_authS.usuario.uid">
    <div class="col-5">
      <div class="card">
        <img
          src="{{_authS.usuario.photoURL}}"
          class="card-img-top"
          alt="usuario"
        />
        <div class="card-body">
          <h5 class="card-title">{{_authS.usuario.nombre}}</h5>
          <p class="card-text">{{_authS.usuario.uid}}</p>
          <p class="card-text">
            <small class="text-muted">{{_authS.usuario.email}}</small>
          </p>
        </div>
      </div>
    </div>
  </div> -->
  